.App {
  text-align: center;
  background-color: #007a78
  ;
  min-height: 100vh;
  color: white;
  ;
  display: flex;
  flex-direction: column;
  align-items: center; 
 
}

.login-plant{
  height: 40vmin;
  width:40vmin
 ;
 }

.Title{ 
  font-size: calc(55px + 2vmin);
}

.sub-title{
  font-size: calc(12px + 2vmin);
 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #007a78
  ;
  min-height: 10vh;
  display: flex;
 
  color: white;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
